body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*font-family:arial,sans-serif;*/
  font-weight: 200;
  margin: 50px 0 0 0;
  padding: 0;
}

#outer, body > footer {
  width: 600px;
  margin: 0 auto;
}

body > footer {
  text-align: center;
  padding: 3em;
  color: #555;
  font-size: 11pt;
}

h1 {
  font-size: 20pt;
  margin: 0 0 1em 0;
}

.markdown img {
  max-width: 100%;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}



a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #4078C0;
}

.input-section.unauthenticated {
  margin-bottom: 1em;
}

.input-section h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
}

.input-section .new-idea-input,
.input-section textarea { box-sizing: border-box; }

.input-section .new-idea-input, textarea {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  font: inherit;
  line-height: 1em;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
  border: 1px solid #8F9BB3;
  border-radius: 2px;
  padding: 9px;
  margin-bottom: 10px;
}

.input-section textarea {
  font-size: 10pt;
  margin-bottom: 0;
}

.input-section .description-md-hint {
  display: block;
  margin-bottom: 9px;
  padding: 3px 10px;
}

.input-section .description-md-hint a {
  text-decoration: underline;
}

.input-section .category-selector {
  margin-bottom: 10px;
}

.input-section .fadein-area {
  display: none;
}

.input-section.active .fadein-area {
  display: block;
}

.input-section .ideaform-seperator {
  border: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: .5em;
}

.input-section textarea {
  resize: both;
}

.input-section .preview-section h5 {
  padding: 9px;
  margin: 0;
}

.input-section .preview-section .preview {
  background: #eee;
  border: 0;
  padding: 9px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.input-section .preview-section .preview :first-child {
  margin-top: 0;
}

.input-section .preview-section .preview :last-child {
  margin-bottom: 0;
}

.filterbar {
  margin-bottom: 10px;
}

.filterbar > .filter-link, .filterbar > select {
  margin-right: .5em;
}

.filter-link {
  font-size: 8pt;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: .2em .5em;
}

.filter-link.active {
  background-color: #e0e0e0;
  color: white;
}


ul.suggestion-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestion-list > li {
  display: block;
}

.idea-item {
  /*line-height: 14px;*/
  word-wrap: break-word;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
  display: flex;
}

.index-page .idea-item:hover {
  background-color: #F5F5F5;
}

.idea-item .cell:first-child {
  width: 90px;
}

.idea-item > .body {
  word-wrap: break-word;
  flex: 1;
}

.idea-item h2 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  display: inline-block;
}

.idea-item > .body .text {
  font-size: 13px;
  margin-bottom: 10px;
  color: #292C33;
  line-height: 1.4em;
  margin: 10px 0;
}

.idea-item .meta {
  color: #666F80;
  font-size: 11px;
}

.idea-item .meta .separator {
  margin: 0 .6em;
}

.idea-item .description {

}

.idea-item .fa-external-link {
  font-size: .85em;
}

.profile-picture {
  vertical-align: middle;
  background-color: #fff;
  border-radius: 2px;
}

.voters {
  width: 64px;
  margin-left: 10px;
  text-align: center;
}

.voters .profile-picture {
  margin-right: 4px;
}

.vote-badge {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  color: #757575;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
  /*margin-bottom: 3px;*/
  padding: 0;
  text-align: center;
  width: 60px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.vote-badge:hover {
  border-color: #4285f4;
  color: #4285f4;
}

.vote-badge.voted {
  border-color: green;
}

.vote-badge.voted .vote {
  background: green;
  border-color: green;
}

.vote-badge.voted:hover {
  border-color: red;
  color: red;
}

.vote-badge.voted:hover .vote {
  background: red;
  border-color: red;
}

.vote-badge .vote.vote-down {
  display: none;
}

.vote-badge.voted:hover .vote-up {
  display: none;
}

.vote-badge.voted:hover .vote-down {
  display: inherit;
}


.vote-badge .plus {
  display: none;
}

.vote-badge:hover .plus {
  display: inline;
}

.vote-badge .vote-count {
  line-height: 28px;
}
.vote-badge.voted .vote-count {
  text-decoration: underline;
}


.vote-badge .vote {
  cursor: pointer;
  display: block;
  width: 100%;
  border: 0;
  background-color: #00F;
  color:#fff;
  font-size: 12px;
  line-height: 18px;
  border: 0;
  outline: none;
  background: #4285f4;
  /*border-radius: 0 0 2px 2px;*/
  border-top: 1px solid #E5E5E5;
  font-weight: normal;
}

.back-link {
  font-size: 10pt;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.login-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 4px 8px;
  font-size: 80%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background: #596595;
  border: 1px solid #464f75;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.login-btn:hover {
  background: #7580ac;
}

.login-btn .fb-login-image {
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAq0lEQVQ4jWP8//8/AyWAhYGBgcEmauYZBgYGYxL1nj2yLN2ECcohVTNcDwsxKlXlhRm6yzwZRAS5GRgYGBhsombC5ZhwaUIGyJrRAVEuwGYzSS7AB/C64MiydKx8ZJfgNeDN+68MDAwIL8D4RLsgIHsJis0wPjKgOAyoE4hcnGwMGkpiBBUbacvA2TfuvaKiC759/3X23NUnOPMDtgTEwMBwloGBgYGR0uwMAGOPLJS9mkQHAAAAAElFTkSuQmCC);
}

.login-btn .text-besides-image {
  margin-left: 18px;
}
